.customer {
    position: relative;
    top: 4rem;
    left: 1.7rem;
}

.opinion {
    background-color: #6CCCE7;
    color: white;
}

.opinion h3 {
    color: #011A95;
}

.gray {
background-color:#E6E6E6 ;
}

.cardprice {
    border: none;
  }
  
  .cardprice .card-header {
    background-color: #011a95;
    color: white;
  }
  
  .cardprice .card-body {
    background-color: white;
    color: #707070;
    border-left: 1mm solid #707070;
    border-right: 1mm solid #707070;
  }
  
  .cardprice .card-body li {
    font-size: 1.5em;
    border-color: #707070;
  }
  
  .cardprice .card-footer {
    background-color: white;
    color: #707070;
    border: 1mm solid #707070;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 3rem;
  }
  
  .cardprice .card-footer button {
    position: relative;
    bottom: -44px;
  }
  
  .cardprice .card-footer button svg {
    height: auto;
    width: 45px;
    background-color: white;
    color: #707070;
  }
  
  .services .button a {
    background-color: #011a95;
    color: white;
    border: none;
    border-radius: 20px 20px 20px 20px;
    font-size: 1.5em;
    margin-top: 1em;
  }

  .rdv {
    border: none;
    padding: 0;
  }

  .pascontente {
      background-color: #DC3545;
      color: white;
  }
  
  .button1 {
    background-color: #011a95;
    color: white;
    border: none;
    border-radius: 20px 20px 20px 20px;
    font-size: 1.5em;
    margin-top: 1em;
  }

  .navbar-nav .nav-item .nav-link {
    color: #011A95;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .nav-item {
    margin: 0 auto;
    padding: auto 0;
  }

  .nav-item:hover {
    border: 1px solid darkgray;

  }

  .p-4 ul {
    display: flex;
    justify-content: center;
    width: max-content;
    align-items: center;
  }

.navbar-toggler {
    background-color:#011A95;
}

.navbar-toggler:hover {
  background-color:white;
}

.navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(1, 26, 149)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

li:hover {
  background-color: #6CCCE7;
}
